<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
    <H1><a href="{% url 'post:main_page' %}"> <-back </a></H1>
    <H3>{{ post.name }}</H3>
    <img src="{{ post.get_img_large_url }}" alt="img">
    <p>{{ post.number_of_likes }} Likes!
        {% if user.is_authenticated %}
            {% if is_user_like_this %}
                <a href="{% url 'post:delete_like' post.id %}">Dislike it!</a>
            {% else %}
                <a href="{% url 'post:new_like' post.id %}">Like it!</a>
            {% endif %}
        {% endif %}
    </p>
    {% if post.comments %}
        {% include 'post/components/comment.html' with parent=post %}
    {% endif %}

    {% if comment_form %}
        <h5>Add comment</h5>
            <form action="" method="post" >
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="parent_id" value="{{ post.id }}">
                <input type="hidden" name="parent_type" value="post">
                <input type="submit" value="comment" >
            </form>
    {% endif %}
</body>
</html>