{% extends 'post/base.html' %}
{% block content %}
    {% load static %}

    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-10 text-center">
                    <H1>{{ post.name }}</H1>
                    <img class="img-fluid " src="{{ post.get_img_large_url }}" alt="img">
                    <p>{{ post.number_of_likes }} Likes!
                        {% if user.is_authenticated %}
                            {% if is_user_like_this %}
                                <a href="{% url 'post:delete_like' post.id %}">Dislike it!</a>
                            {% else %}
                                <a href="{% url 'post:new_like' post.id %}">Like it!</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if post.comments.all %}
                <div class="row">
                    <h2>Comments:</h2>
                    {% include 'post/components/comment.html' with parent=post %}
                </div>
            {% else %}
                <div>
                    <h2>No comments here. Be first</h2>
                </div>
            {% endif %}

            {% if comment_form %}
                <div class="row">
                    <h5>Add comment</h5>
                    <form action="" method="post" >
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="hidden" name="parent_id" value="{{ post.id }}">
                        <input type="hidden" name="parent_type" value="post">
                        <input type="submit" value="comment" >
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}