<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">

    <H3>{{ post.name }}</H3>
    <img src="{{ post.img_large.url }}" alt="img" class="main_img">
    <p>{{ post.number_of_likes }} Likes!
        {% if is_user_like_this %}
            You like it!
        {% else %}
            <a href="{% url 'post:new_like' post.id %}">Like it!</a>
        {% endif %}
    </p>
    {% if comments %}
    {% for comment in comments %}
        <H5>{{ comment.author.username }}</H5>
        <p>{{ comment.text }}</p>
    {% endfor %}
    {% endif %}
</body>
</html>