{% extends 'post/base.html' %}

{% block content %}
{% load static %}

    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row row-cols-2 py-3">
                <div class="col ">
                    <p>
                        <span class="h2">{{ user.first_name }}</span>
                        <a class="btn btn-secondary" role="button" href={% url 'post:update_user' user.id %}>change name</a>
                        <a href="{% url 'post:logout' %}">Logout</a>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPostModal">
                            Create new post
                        </button>
                    </p>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-3 py-3">
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=verified">Verified posts</a></p>
                </div>
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=not_verified">Not verified posts</a></p>
                </div>
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=rejected">Rejected posts</a></p>
                </div>
            </div>
            {% if posts %}
            <div class="row row-cols2">
                <H3>Your {{ posts.0.status }} posts:</H3>
            </div>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
                {% for post in posts %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% url 'post:detail_page' post.id %}" >
                            <img src="{{ post.get_img_small_url }}" class="img-fluid mx-auto" alt="img" >
                        </a>
                            <div class="card-body">
                                <p class="card-text">{{ post.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'post:delete_post' post.id %}">delete Post</a>
                                    <small class="text-muted">{{ post.pub_date|date:"d/m/y" }}</small>
                                </div>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPostModalLabel">Create new post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newPostForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="newPost()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        let createPostModal = document.getElementById('createPostModal')
        let formElem = document.getElementById("newPostForm")

        async function newPost(){
            let response = await fetch("{% url 'post:new_post' %}", {
                method: 'POST',
                body: new FormData(formElem)
            })
            if(response.ok){
                alert("Post created")
                createPostModal.hide()
            }else {
                alert("Post not created. Check your data")
            }
        }
    </script>



{% endblock %}