{% extends 'post/base.html' %}

{% block content %}
{% load static %}

    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row row-cols-2 py-3">
                <div class="col ">
                    <p>
                        <span id="nameElem" class="h2">{{ user.first_name }}</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateNameModal">
                            Change name
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateAvatarModal">
                            Change avatar
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPostModal">
                            Create new post
                        </button>
                    </p>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-3 py-3">
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=verified">Verified posts</a></p>
                </div>
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=not_verified">Not verified posts</a></p>
                </div>
                <div class="col">
                    <p class="text-center"><a href="{% url 'post:user_page' user.id %}?status=rejected">Rejected posts</a></p>
                </div>
            </div>
            {% if posts %}
            <div class="row row-cols2">
                <H3>Your {{ posts.0.status }} posts:</H3>
            </div>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
                {% for post in posts %}
                <div id="post{{ post.id }}" class="col">
                    <div class="card shadow-sm">
                        <a href="{% url 'post:detail_page' post.id %}" >
                            <img src="{{ post.get_img_small_url }}" class="img-fluid mx-auto" alt="img" >
                        </a>
                            <div class="card-body">
                                <p class="card-text">{{ post.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button id="like" type="button" class="btn btn-danger btn-sm" onclick="deletePost('{% url 'post:delete_post' post.id %}', {{ post.id }})">delete Post</button>
                                    <small class="text-muted">{{ post.pub_date|date:"d/m/y" }}</small>
                                </div>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPostModalLabel">Create new post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newPostForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ newPostForm.as_p }}
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="newPost()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateNameModal" tabindex="-1" aria-labelledby="updateNameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateNameModalLabel">Change Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateNameForm" enctype="multipart/form-data">{% csrf_token %}
                        {{ updateNameForm.as_p }}
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateName()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="updateAvatarModal" tabindex="-1" aria-labelledby="updateAvatarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAvatarModalLabel">Change Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateAvatarForm" enctype="multipart/form-data">{% csrf_token %}
                        {{ updateAvatarForm.as_p }}
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateAvatar()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        let createPostModal = document.getElementById('createPostModal')
        let newPostFormElem = document.getElementById("newPostForm")
        let updateNameFormElem = document.getElementById("updateNameForm")
        let updateAvatarFormElem = document.getElementById("updateAvatarForm")

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        async function newPost(){
            let response = await fetch("{% url 'post:new_post' %}", {
                method: 'POST',
                body: new FormData(newPostFormElem)
            })
            if(response.ok){
                alert("Post created")
                createPostModal.hide()
            }else {
                alert("Post not created. Check your data")
            }
        }


        async function deletePost(url, postId){
            let response = await fetch(String(url), {
                method: 'POST',
                headers: { "X-CSRFToken": csrftoken },
            })
            if(response.ok){
                document.getElementById("post" + String(postId)).remove()
            }
        }


        async function updateName(){
            let response = await fetch("{% url 'post:change_user_name' user.id %}",{
                method: 'POST',
                body: new FormData(updateNameFormElem)
            })
            if (response.ok){
                let result = await response.json();
                document.getElementById("nameElem").innerText = result.first_name
                document.getElementById("nameWrapperElem").innerText = result.first_name
            }
        }


        async function updateAvatar() {
            let  response = await fetch("{% url "post:change_user_avatar" user.id %}",{
                method: "POST",
                body: new FormData(updateAvatarFormElem)
            })
            if(response.ok){
                let result = await response.json();
                document.getElementById("avatarElem").src = result.avatar
            }
        }

    </script>



{% endblock %}