<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

    <link class="main_img" rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">

    <H1>Personal area</H1>
    <p>Name: {{ user.first_name }}</p>
    <p><a href="{% url 'post:logout' %}">Logout</a></p>
    <p><a href="{% url 'post:new_post' %}">Create new post</a></p>


    {% if posts %}
        <H3>Your posts:</H3>
        {% for post in posts %}
            <p>{{ post.name }}</p>
            <img class="small_img" src="{{ post.img_large.url }}" alt="img" >
            <p>Status: {{ post.get_status_display }}</p>
        {% endfor %}
    {% else %}
        <H3>No posts.</H3>
    {% endif %}

</body>
</html>