<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

    <link class="main_img" rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">

    <H1>Personal area</H1>
    <p>Name: {{ user.first_name }}  <a href={% url 'post:update_user' user.id %}>change</a></p>
    <p><a href="{% url 'post:logout' %}">Logout</a></p>
    <p><a href="{% url 'post:new_post' %}">Create new post</a></p>
    <p>
        <a href="{% url 'post:user_page' user.id %}?status=verified">Verified&nbsp;  </a>
        <a href="{% url 'post:user_page' user.id %}?status=not_verified">Not verified&nbsp;  </a>
        <a href="{% url 'post:user_page' user.id %}?status=rejected">Rejected&nbsp;  </a>
    </p>


    {% if posts %}
        <H3>Your {{ posts.0.status }} posts:</H3>
        {% for post in posts %}
            <p>{{ post.name }}</p>
            <img src="{{ post.get_img_small_url }}" alt="img" >
            <p>Status: {{ post.get_status_display }}</p>
            <a href="{% url 'post:delete_post' post.id %}"> delete Post</a>
        {% endfor %}
    {% else %}
        <H3>No posts.</H3>
    {% endif %}

</body>
</html>