{% for comment in parent.comments.all %}
    <div class="row">

        <h3>{{ comment.author }}</h3>
        <h4>{{ comment.text }} </h4>
        {% if comment_form %}
        <h5>Reply</h5>
            <form action="" method="post" >
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input type="hidden" name="parent_type" value="comment">
                <input type="submit" value="reply">
            </form>
        {% endif %}

    </div>
    <div class="ps-5">
        {% if comment.comments.all %}
            {% include 'post/components/comment.html' with parent=comment %}
        {% endif %}
    </div>
{% endfor %}
